.order-success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}
.icon-container {
  background-color: #4caf50;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 20px;
}
.icon-container .icon {
  color: white;
  font-size: 48px;
}
.check-icon {
  font-size: 48px;
}
.order-summary {
  font-size: 18px;
  margin-bottom: 20px;
}
.note{
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
  max-width: 400px;}